<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="view.css">
    <link rel="stylesheet" href="{{url_for('static',filename='view.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="content">
            <h1>View</h1>
            <div>
                <button>Back</button>
            </div>
        </div>
    </header>
    <main>
        <div id="image">
            <img src="images/house.jpg" alt="house">
        </div>
        <div id="info">
            <h2>Listed by: <!--Jinja syntax--></h2>
            <p>description Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere in veniam consequatur tempora obcaecati laborum, impedit explicabo voluptatem quisquam quo quidem pariatur! Harum in quos consequatur, dolorum nisi aliquid nam!<!--Jinja syntax--></p>
            <p id="price">price<!--Jinja syntax--></p>
        </div>
    </main>
</body>
</html>